
<div class="container">
    <nav class="bg-light">
      <a class="navbar-brand" href="/home">Employee Portal</a>
    </nav>  
    
    <nav class="bg-light">
      <a class="navbar-brand" href="/api/jobs/openings">All Openings</a>
    </nav>

    <div class="col-md-offset-8">
    <nav class="bg-light">
      <a class="navbar-brand" href="/logout">Logout</a>
    </nav>
  </div>
</div>
 